@use '../custom' as *;

.section-table {
    
}
.tables {
/*     background: rgba( 255, 255, 255, 1.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18.0px );
    -webkit-backdrop-filter: blur( 18.0px );
    border-radius: 10px;   */
    margin-top: -7rem;
}